* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

html{
    background: #e7ebf0;
    font: 10px Tahoma;
}

body{
    display: grid;
}

#chat-container{
    position: absolute;
    margin-left: 15%;
    top: 0px;
    display: grid;
    grid: 
        'search-container chat-title' 48px
        'conversation-list chat-message-list' 1fr
        'conversation-list chat-form' 48px
        / 275px 1fr;
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    height: 95vh;
    background: #FFF;
}

#search-container{
    background: #5682a3;
}

#search-container{
    display: grid;
    grid-template-columns: 55px auto;
    align-items: center;
    padding: 0 20px;
    grid-area: search-container;
    z-index: 1;
}

#search-container:hover{
    background: #497799;
}

#search-container img{
    height: 30px;
    width: 30px;
}

.bar-image{
    display: grid;
    align-items: center;
    margin-left: 40px;
    height: 17px;
    width: 17px;
}

.title{
    color: #FFF;
    font-size: 15px;
}

#conversation-list{
    grid-area: conversation-list / new-message-container;
    grid-column-start: span 1;
    grid-column-end: span 2 ;
    grid-row-end: span 3;
    overflow-y: scroll;
}

#conversation-list input{
    background: #777;
    color: #000000;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    margin: 7px 18px 7px 16px;
    padding-left: 38px;
    padding-right: 10px;
    font-size: 1.4rem;
    background: url('../img/search.svg') no-repeat rgba(207, 204, 204, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

.conversation{
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    color: #ddd;
    font-size: 1.3rem;
    padding: 7px 18px 7px 16px;
}

.conversation.active{
    background: #6490b1;
}

.conversation.active:hover{
    cursor: pointer;
    background: #6490b1;
}

.conversation:hover{
    cursor: pointer;
    background: #e2e8ee;
}

.conversation>img{
    grid-row: span 2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.title-text{
    font-weight: bold;
    color: #000000;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.created-date{
    color: #B3B3B3;
    font-size: 1.38rem;
}

.conversation-message{
    grid-column: span 2;
    color: #B3B3B3;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-text.active{
    font-weight: bold;
    color: #FFF;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.created-date.active{
    color: #FFF;
    font-size: 1.38rem;
}

.conversation-message.active{
    grid-column: span 2;
    color: #FFF;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#new-message-container{
    display: grid;
    grid : 40px / 40px;
    align-content: center;
    padding: 0 15 px;
}

#chat-title{
    background: #5682a3;
}
  
#chat-title:hover {
    background-color: #497799;
}

#chat-title{
    display: grid;
    grid: 'chat-title last-time';
    grid-template-columns: 2.2fr 2.2fr 5fr 1fr 1fr;
    align-content: center;
    align-items: center;
    grid-area: chat-title;
    color: #FFF;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 20px;
}

#chat-title > img{
    cursor: pointer;
}

#chat-title > span{
    grid-auto-rows: 48px;
}

.last-time{
    display: grid;
    align-content: center;
    align-items: center;
    grid-area: last-time;
    color: #B9CFE3;
    font-size: 1rem;
}

#chat-message-list{
    grid-area: chat-message-list;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    border-left: 3px solid rgba(0, 0, 0,0.25);
    padding:0 20px;
}

.message-row{
    margin-top: 20px;
}

.message-text{
    padding: 9px 14px;
    font-size: 1.4rem;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.message-content>span{
    margin-left: 13px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #3A6D99;
}

.message-time{
    font-size: 1.4rem;
    color: #777;
}

.message-content{
    display: grid;
}

.message-row .message-content{
    grid-template-columns: 48px 4fr 0.5fr;
    grid-column-gap: 5px;
}

.message-image{
    grid-row: span 2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

#chat-form{
    display: grid;
    grid-template-columns: 48px 570px 48px;
    align-content: center;
    align-items: center;
    grid-gap: 5px;
    grid-area: chat-form;
    border-top: 1px solid rgba(0, 0, 0,0.25);
    border-left: 3px solid rgba(0, 0, 0,0.25);
    padding-left: 15px;
}

#chat-form input{
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
}

#chat-form img,span{
    cursor: pointer;
}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-track {  background-color: #FFF;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 1px; background-color: #5682a3;}
::-webkit-resizer { background-color: #5682a3;}